<div th:fragment="header-menu">
	<div id="menu">
	    <div class="pure-menu">
	        <a class="pure-menu-heading" href="/portfolio/index/">
	            username
	        </a>
	        <ul class="pure-menu-list">
	            <li class="pure-menu-item"><a href="/portfolio/page/investor" class="pure-menu-link">Investor</a></li>
	            <li class="pure-menu-item"><a href="/portfolio/page/classify" class="pure-menu-link">Classify</a></li>
	            <li class="pure-menu-item"><a href="/portfolio/page/tstock" class="pure-menu-link">TStock</a></li>
	            <li class="pure-menu-item"><a href="/portfolio/page/watch" class="pure-menu-link">Watch</a></li>
	            <li class="pure-menu-item"><a href="/portfolio/page/watchlist" class="pure-menu-link">Watch List</a></li>
	            <li class="pure-menu-item"><a href="/portfolio/page/asset" class="pure-menu-link">Asset</a></li>
	            <li class="pure-menu-item"><a href="/portfolio/login/logout" class="pure-menu-link">Logout</a></li>
	            <li class="pure-menu-item"><a href="/portfolio/price/refresh" class="pure-menu-link">Refresh Price</a></li>
	            <li class="pure-menu-item"><a href="/portfolio/price/histquotes/^TWII" class="pure-menu-link">History Price</a></li>
	        </ul>
	    </div>
</div>
</div>
